# App configuration
NEXT_PUBLIC_APP_URL=

# Backend API configuration
BACKEND_BASEURL=

# NextAuth configuration
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Web3Auth configuration
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=
NEXT_PUBLIC_VERIFIER_NAME=
NEXT_PUBLIC_SUB_VERIFIER_TELEGRAM=
NEXT_PUBLIC_SUB_VERIFIER_GOOGLE=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=